:root {
    --text-color: #757575;
    --title-color: #212121;
    --primary-color: #FFFFFF;
    --next-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --second-color: #2F303A;
    --secondary-button-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --icon-background: rgb(255, 255, 255, 0.1);
    --accent-background-project: rgba(33, 150, 243, 0.9);
    --overlay: rgba(0, 0, 0, 0.2);  
}
$fontPrimary: Roboto, sans-serif;
$fontLogo: Raleway, sans-serif;